_site
.sass-cache
*.gem
*.sublime-project
*.sublime-workspace
.bundle
.DS_Store
.jekyll-metadata
_asset_bundler_cache
codekit-config.json
example/_site
node_modules
npm-debug.log*
_templates/
_drafts/
Gemfile.lock
vendor/bundle
vendor/bundle/gems/ffi-1.9.25/ext/ffi_c/libffi-x86_64-linux-gnu/.libs/libffi.la
vendor/bundle/gems/ffi-1.9.25/ext/ffi_c/libffi-x86_64-linux-gnu/.libs/libffi.la
vendor/bundle/gems/ffi-1.9.25/ext/ffi_c/libffi-x86_64-linux-gnu/.libs/libffi.so.7
vendor/bundle/gems/ffi-1.9.25/ext/ffi_c/libffi-x86_64-linux-gnu/.libs/libffi_convenience.la
vendor/bundle/gems/ffi-1.9.25/ext/ffi_c/libffi-x86_64-linux-gnu/include/ffitarget.h
vendor/bundle/gems/minimal-mistakes-jekyll-4.13.0/_sass/minimal-mistakes/_variables.scss
